/*Hero background*/
.bgimage {
    height:100vh;
    background: url('images/heroImage.png');
    background-size:cover;
    position:relative;
}
/*Text above hero*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/*About*/
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*Portfolio*/
#portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*Buttons*/
#portfolio button {
    margin-right: 1em;
}

/*Portfolio child divs*/
#career, #github-repositories, #games-container, #live-projects {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
#github-repositories {
    overflow-y: scroll;
    max-height: 500px;
}
#github-repositories .card, #games-container .card #live-projects .card {
    width: 30%;
    margin: 1%;
}

.card img {
    max-width: 100px;
    max-height: 100px;
}

/*Display background color "x" on navbar scroll*/
.navbarScroll.navbarCol {
    background-color: ghostwhite;
}