/* Reset page defaults */
* {
  margin: 0;
  padding: 0;
  line-break: 1.4;
}

:root {
  --color-deep-navy-blue: #0B3D91;
  --color-slate-gray:     #595959;
  --color-charcoal:       #333333;
  --color-taupe:          #8B8589;
  --color-sage-green:     #7DAA89;
  --color-cream:          #F0EDE5;
}

/* Navigation Bar */
#bouncynavbar {
  min-height:     40px !important;
  padding:        10px 15px !important;
  background:     var(--color-sage-green) !important;
  border-bottom:  5px var(--color-cream) solid !important;
}

#bouncybarlogo {
  float:    left !important;
  margin:   0 !important;
  padding:  0 !important;
  height:   40px !important;
  width:    190px !important;
  background: url(images/logo.png) no-repeat !important;
}

#bouncybarlogo h1 {
  margin:       0 !important;
  padding:      0 !important;
  text-indent:  -9999px !important;
}

#bouncybarlogo a {
  display:  block !important;
  height:   40px !important;
  width:    190px !important;
}

#bouncynavbarlist {
  display:    block !important;
  list-style: none !important;
  margin:     0px !important;
  padding:    0px !important;
  font-size:  0px !important;
  text-align: right !important;
}

#bouncynavbarlist li {
  display:     inline-block !important;
  font-size:   14px !important;
  font-family: sans-serif !important;
  line-height: 14px !important;
  padding:     14px 15px 0 !important;
}

#bouncynavbarlist li a {
  color:            var(--color-charcoal);
  font-weight:      bold !important;
  text-decoration:  none !important;
}

#bouncynavbarlist li a:hover {
  text-decoration: underline !important;
}

#bouncynavbar.bnb-home ul li#bnb-home a {
  color: white !important;
}

#bouncynavbar.bnb-games ul li#bnb-games a {
  color: white !important;
}

/* Body */
body {
  min-width:  650px;
  background: #fff;
  color:      var(--color-cream);
  font:       normal 100% sans-serif;
  text-align: center;
}

#content {
  width:      95%;
  margin:     0 auto;
  text-align: left;
}

#bdev-navbar {
  margin: 1.5em;
}

/* Left */

#content-left-wrapper {
  float: left;
  width: 100%;
}

#content-left {
  margin: 0 340px 0 0;
}

div.box {
  margin-bottom:  1.5em;
  padding:        .65em;
  background:     var(--color-taupe);
  border:         1px solid #bcd;
}

h2 {
  font-size:      1.5em;
  margin-bottom:  .5em;
  border-bottom:  2px solid var(--color-cream);
}

/* Right */

#content-right {
  float:        left;
  width:        300px;
  margin-left:  -300px;
}

#blog, #web-projects {
  overflow-y: auto;
  max-height: 15em;
}

#web-projects #card p { color: var(--color-charcoal); }

#card {
  margin-bottom:  1.5em;
  padding:        .65em;
  background:     var(--color-cream);
}

#card a {
  color:            var(--color-charcoal);
  font-weight:      bold !important;
  text-decoration:  none !important;
  font-size:        1em;
}

#blog-card a:hover { color: var(--color-taupe); }

#portrait {
  max-width: 100px;
  height:    auto;
}

#socials a {
  text-decoration: none !important;
}

/* Footer */

div.footer {
  bottom:     0 !important;
  position:   fixed;
  width:      100%;
  min-height: 40px !important;
  padding:    10px 15px !important;
  background: var(--color-sage-green) !important;
  border-top: 5px var(--color-cream) solid !important;
  text-align: center;
}

/* Icons */
.fa {
  padding:          5px;
  color:            var(--color-cream);
  text-decoration:  none;
}