.page {
  --background: #121211;
  --foreground: rgba(30,30,30,0.85);
  --text-primary: #fff;
  --text-secondary: #aaa;

  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Geist Sans", sans-serif;
  background-color: var(--background);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  width: 90vw;
  background-color: var(--foreground);
  padding: 20px;
  border-radius: 25px;
  color: var(--text-primary);
  position: relative;
  overflow: hidden;
  background-blend-mode: darken;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  cursor: pointer;
}

.search {
  cursor: pointer;
}

.info {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.year {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: var(--text-secondary);
  max-width: 70%;
  margin: 0 auto;
}

.carousel {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
  margin-bottom: 120px;
  overflow-x: auto;
  overflow-y: hidden;
}

.card {
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
  flex-shrink: 0;
  opacity: 0.6;
}

.card.active {
  transform: scale(1.3);
  opacity: 1;
}

.loading {
  color: var(--text-primary);
  font-size: 1.5rem;
}
