.page {
  --background: #121211;
  --foreground: #fff;

  --text-primary: #fff;
  --text-outline: #121211;
  --text-secondary: #666;

  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
  background-color: var(--foreground);
  padding: 20px;
  border-radius: 25px;

  color: var(--text-outline);
}